<div id="container">
	<h1>Create a PUG</h1>
	
	<div id="form">
	<span> To get started search for a location or drag marker</span>
	<br />
	Location: <input id="name" [(ngModel)]="locationName" type="text"/>
	<br />
	<br />
	Address: <input id="address" [(ngModel)]="locationAddress" type="text"/>
	<br />
	<br />
	Activity: <select id="activity" [(ngModel)]="activity">
	
			  	<option value="basketball">Basketball</option>
			  	<option value="soccer">Soccer</option>
			  	<option value="football">Football</option>
			  	<option value="baseball">Baseball</option>
			  	
	
			  </select>
	
	<br />
	<br />
	Start Date: <input id="date" [(ngModel)]="date" type="datetime-local" />
	<br />
	</div>
	<br />
	<button type="button" (click)=addEvent()>Add</button>
	<input id="lat" [(ngModel)]="locationCoords.lat" type="number" style="display: none"/>
	<input id="lng" [(ngModel)]="locationCoords.lng" type="number" style="display: none"/>
</div>
