:host{
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}
#menu{
  margin:8px;
}

.search-menu{
  margin: 8px;
}
.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#map {
	height: 100%;
	width: 100%;
}

/*
#mapContainer {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
	background-color: #f4f5f7;


}

#searchContainer {
	margin-top: 10px;
	width: 100%;
	position: absolute;
	left: 0px;

}

#locationInput {
	width: 75%

}

#menu {
	width: 40%;
	height: 100%;
	position:absolute;
	left: 0px;
	border: 1px solid black;
	background-color: #e8e5e5;
}

#text {
	position: absolute;
	margin-top:25px;
	position: absolute;
	left: 0px;
	font-size: 40px;
}

#map {
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0px;
}

agm-map {

  height: 100%;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color: #111;
}
*/
