<div id="menu" class='search-menu card-3' fxFlex="30%"  fxLayout="column">

   	<div *ngIf="router.url.indexOf('teams') == -1">
    	<mat-toolbar>
      		<button mat-button (click)="navigate('map')" >Search</button>
     		<button mat-button (click)="navigate('map/locations')">Locations</button>
      		<button mat-button (click)="navigate('teams')">Teams</button>
   		 </mat-toolbar>
    </div>

		<div id="searchContainer" fxFlex style="padding: 8px">
		Search: <input id="locationInput"
			   placeholder="Enter location"
			   type="text"
			   name="locationSearch"
			   class="form-control"
			   #search [formControl]="searchControl"
			   >

			 <div *ngIf="showFilter == true && router.url.indexOf('teams') == -1">
			 	Filter by sport:
			 	<form action="" >
			 		<input type="radio" name="activity" value="all" [(ngModel)]="filter" (change)="filterLocations()">All
			    	<input type="radio" name="activity" value="basketball" [(ngModel)]="filter"  (change)="filterLocations()">Basketball
			    	<input type="radio" name="activity" value="soccer" [(ngModel)]="filter"  (change)="filterLocations()">Soccer
			    	<input type="radio" name="activity" value="football"  [(ngModel)]="filter"  (change)="filterLocations()">Football
			    	<input type="radio" name="activity" value="baseball" [(ngModel)]="filter"  (change)="filterLocations()">Baseball
			 	</form>
         <br />
         Filter event type:
         <form action="">
           <input type="radio" name="eventType" value="all" [(ngModel)]="typeFilter" (change)="filterType()">All
           <input type="radio" name="eventType" value="individual" [(ngModel)]="typeFilter" (change)="filterType()">Individual
           <input type="radio" name="eventType" value="team" [(ngModel)]="typeFilter" (change)="filterType()">Team
         </form>
			 </div>
		<router-outlet ></router-outlet>
		</div>

	</div>

<div fxFlex class="card-3" fxLayout="row" style="margin: 8px">
	<div id="map" fxFlex="1 1 auto" #mapElem>
		<agm-map  id="mapObj"
				  [mapTypeId]="map.mapTypeId"
				  [latitude]="lat"
				  [longitude]="lng"
				  [zoom]="zoom"
				  (mapClick)="click($event)"
              [style.height.px]="mapElem.offsetHeight"
				  (centerChange)="centerChanged($event)"
				  (mapReady)="mapReady($event)" >

			<agm-marker [latitude]="homeCoords.lat"
						[longitude]="homeCoords.lng"
						[markerDraggable]="false">
  				<agm-info-window [isOpen]="true">Your Location</agm-info-window>
			</agm-marker>

			<!-- Loop over all locations and draw markers -->
			<div *ngIf="dataLoaded == true && showLocations == true">
				<!-- Loop over markers -->
  				<div *ngFor="let marker of mapService.getLocations()">




  				 		<!-- Marker has no teams or battles
  				 		associated with it. Just draw marker of the given
  				 		sport type and general info on the location
  				 		 -->
  				 		<div *ngIf="marker.teams == null">
  				 			<agm-marker
  								[latitude]= "marker.coords.lat"
  								[longitude]="marker.coords.lng"
  								[visible]="true"
  								[iconUrl]="marker.icon"
  								(markerClick)="markerClicked(marker.id)"
  				 			>
  				 			<agm-info-window [isOpen]="marker.isOpen">
  			    				<span>Location: {{marker.name}}</span>
  								<br />
  								<span>Address: {{marker.address}}</span>
  								<br />
  								<span>Activity: {{marker.activity}}</span>
  								<br />
  								<span>Time: {{marker.date}}</span>
  								<br />
  								<div *ngIf="userService.isLoggedIn() == true">
  									<button  (click)="mapService.addUserToEvent(marker.id)">Join</button>
  								</div>

  			    			</agm-info-window>
  				 			</agm-marker>
  				 		</div>

  				 		<!-- Marker has teams of battles associated with it
  				 		make info window with team and battle info
  				 		 -->
  				 		<div *ngIf="marker.teams != null">

  				 			<!-- THe location has a finished battle -->
  				 			<div *ngIf="marker.finished != null && marker.finished == true">
  				 				<!-- Marker of  owning teams logo-->
  				 				<agm-marker
  				 					[latitude]="marker.coords.lat"
  									[longitude]="marker.coords.lng"
  									[visible]="true"
  									[iconUrl]="marker.winner.imgUrl" >

  				 				</agm-marker>
  				 				<!-- trophy marker and info window showing battle info -->
  				 				<agm-marker
  				 					[latitude]="marker.coords.lat"
  									[longitude]="marker.coords.lng"
  									[visible]="true"
  									[iconUrl]="getTrophyIcon()"
  									(markerClick)="markerClicked(marker.id)"
  									>


  				 					<agm-info-window [isOpen]="marker.isOpen">
  			    						<span>Location: {{marker.name}}</span>
  										<br />
  										<span>Address: {{marker.address}}</span>
  										<br />
  										<span>Activity: {{marker.activity}}</span>
  										<br />
  										<span>Time: {{marker.date}}</span>
  										<br />
  										<span>Winner: {{marker.winner.name}}</span>
										<img src="{{marker.winner.imgUrl}}">
										<br />

										<button (click)="challengeBtnPressed(marker.id, marker.winner.id)">Battle for this location</button>

  			    					</agm-info-window>
  				 				</agm-marker>
  				 			</div>

  				 			<!--  onoging match between 2 teams
  				 				(match hasnt happened yet or the tams
  				 				havent recorded score yet)
  				 			 -->
  				 			 <div *ngIf="marker.finished != null && marker.finished == false || marker.winner == 'none'">

  				 			 	<div *ngIf="marker.winner != null && marker.winner == 'none'">
  				 			 	<agm-marker
  									[latitude]= "marker.coords.lat"
  									[longitude]="marker.coords.lng"
  									[visible]="true"
  									[iconUrl]="marker.icon"
  									(markerClick)="markerClicked(marker.id)"
  				 				>


  				 				<agm-info-window [isOpen]="marker.isOpen">
  			    					<span>Location: {{marker.name}}</span>
  									<br />
  									<span>Address: {{marker.address}}</span>
  									<br />
  									<span>Activity: {{marker.activity}}</span>
  									<br />
  									<span>Time: {{marker.date}}</span>
  									<br />
  									<h3>Teams</h3>
  									<img src="{{marker.teams.teamA.imgUrl}}"><span>{{marker.teams.teamA.name}}   vs.  </span><img src="{{marker.teams.teamB.imgUrl}}" /><span> {{marker.teams.teamB.name}}</span>
                        			<br />
                        			<span>owning team: {{marker.winner}}</span>
  			    				</agm-info-window>
  				 				</agm-marker>
  				 				</div>
  				 				<div *ngIf="marker.winner != null && marker.winner != 'none'">
  				 					<agm-marker
  				 					[latitude]="marker.coords.lat"
  									[longitude]="marker.coords.lng"
  									[visible]="true"
  									[iconUrl]="getTrophyIcon()"
  									(markerClick)="markerClicked(marker.id)"
  									>


  				 					<agm-info-window [isOpen]="marker.isOpen">
  			    						<span>Location: {{marker.name}}</span>
  										<br />
  										<span>Address: {{marker.address}}</span>
  										<br />
  										<span>Activity: {{marker.activity}}</span>
  										<br />
  										<span>Time: {{marker.date}}</span>
  										<br />
  										<span>Winner: {{marker.winner.name}}</span>
										<img src="{{marker.winner.imgUrl}}">
										<br />
										<h3>Teams</h3>
  											<img src="{{marker.teams.teamA.imgUrl}}"><span>{{marker.teams.teamA.name}}   vs.  </span><img src="{{marker.teams.teamB.imgUrl}}" /><span> {{marker.teams.teamB.name}}</span>
                        				<br />


  			    					</agm-info-window>
  				 				</agm-marker>
  				 				</div>
  				 			 </div>
  				 		</div>

  				</div>
  			</div>
  			<agm-marker
  				[latitude]="searchMarker.lat"
  				[longitude]="searchMarker.lng"
  				[markerDraggable]="true"
  				[title]="searchMarker.text"
  				[visible]="searchMarker.isOpen"
  				(dragEnd)="searchWasDragged($event)" >

  				<agm-info-window  [isOpen]="searchMarker.isOpen">
  					{{searchMarker.text}}
  				</agm-info-window>
  			</agm-marker>
		</agm-map>
	</div>
</div>


