<div>
	<div id="teamContainer">
		<h3>{{team.name}}</h3>
		<br />
		<img src="{{team.imgUrl}}" />
		<div>
			<label>Sport: {{team.sport}}</label>
			<br />
			<label>Owner: {{team.owner.displayName}}</label>
			<br />
			<label>Record: {{team.wins}}W - {{team.losses}}L</label>
			<br />
			<button (click)="showMembers()">View Members</button>
			<br />
			<div *ngIf="displayMembers == true">
				<ol>
					<li *ngFor="let member of team.members">{{member.displayName}}</li>
				</ol>
				
			</div>
			<button (click)="removeUserFromTeam(team.id)">Leave Team</button>
			
		</div>
	</div>
</div>
