<div id="mapContainer">

	<div id="menu">
		
		<div id="searchContainer">
		Search: <input id="locationInput" 
			   placeholder="Enter location" 
			   type="text" 
			   name="locationSearch"
			   class="form-control"
			   #search [formControl]="searchControl"
			   >
		<nav>
			<a href="">test1</a>
		</nav>
		</div>
		
	</div>

	<div id="map">
		<agm-map  
				  [mapTypeId]="map.mapTypeId" 
				  [latitude]="lat" 
				  [longitude]="lng" 
				  [zoom]="zoom"
				  (mapClick)="click($event)"
				  [styles]="map.styles" >
  			<agm-marker [latitude]="lat" [longitude]="lng">
  				<agm-info-window [isOpen]="true">Your Location</agm-info-window>
  			</agm-marker>
		</agm-map>
	</div>
		
	
</div>