<div id="mapContainer">

	<div id="menu">
	
		<ul>
			<li>
				<a (click)="navigate('map')" >Search</a>
			</li>
			<li>
				<a (click)="navigate('map/locations')"> +</a>
			</li>
		</ul>
		
		<div id="searchContainer">
		Search: <input id="locationInput" 
			   placeholder="Enter location" 
			   type="text" 
			   name="locationSearch"
			   class="form-control"
			   #search [formControl]="searchControl"
			   >
			   
			 <div *ngIf="showFilter == true">
			 	Filter by sport:
			 	<form action="" >
			 		<input type="radio" name="activity" value="all" [(ngModel)]="filter" (change)="filterLocations()">All
			    	<input type="radio" name="activity" value="basketball" [(ngModel)]="filter"  (change)="filterLocations()">Basketball
			    	<input type="radio" name="activity" value="soccer" [(ngModel)]="filter"  (change)="filterLocations()">Soccer
			    	<input type="radio" name="activity" value="football"  [(ngModel)]="filter"  (change)="filterLocations()">Football
			    	<input type="radio" name="activity" value="baseball" [(ngModel)]="filter"  (change)="filterLocations()">Baseball
			 	</form>
			 </div>
		<router-outlet ></router-outlet>
		</div>
		
	</div>
	

	<div id="map">
		<agm-map  id="mapObj"
				  [mapTypeId]="map.mapTypeId" 
				  [latitude]="lat" 
				  [longitude]="lng" 
				  [zoom]="zoom"
				  (mapClick)="click($event)"
				  [styles]="map.styles"
				  (centerChange)="centerChanged($event)"
				  (mapReady)="mapReady($event)" >
				  
			<agm-marker [latitude]="homeCoords.lat" 
						[longitude]="homeCoords.lng"
						[markerDraggable]="false">
  				<agm-info-window [isOpen]="true">Your Location</agm-info-window>
			</agm-marker>
			
			<div *ngIf="dataLoaded == true">
  			<agm-marker  *ngFor="let marker of mapService.getLocations()"
  				
  				[latitude]= "marker.coords.lat"
  				[longitude]="marker.coords.lng"
  				[visible]="true"
  				 >
  				<agm-info-window [isOpen]="true"
  			    >
  			    	<span>Location: {{marker.name}}</span>
  					<br />
  					<span>Address: {{marker.address}}</span>
  					<br />
  					<span>Activity: {{marker.activity}}</span>
  					<br />
  					<span>Time: {{marker.date}}</span>
  					<br />
  					<div *ngIf="userService.isLoggedIn() == true">
  						<button  (click)="mapService.addUserToEvent(marker.id)">Join</button>
  					</div>
  					
  			    </agm-info-window>
  			</agm-marker>
  			</div>
  			<agm-marker
  				[latitude]="searchMarker.lat"
  				[longitude]="searchMarker.lng"
  				[markerDraggable]="true"
  				[title]="searchMarker.text"
  				[visible]="searchMarker.isOpen"
  				(dragEnd)="searchWasDragged($event)" >
  				
  				<agm-info-window  [isOpen]="searchMarker.isOpen">
  					{{searchMarker.text}}
  				</agm-info-window>
  			</agm-marker>
		</agm-map>
	</div>
	
	
		
	
</div>