<div id ="container">
  Search: <input [(ngModel)]="searchText" type="text" />
  Sport: <select [(ngModel)]="sportText" id="activity" >
  <option value="all">All</option>
  <option value="basketball">Basketball</option>
  <option value="soccer">Soccer</option>
  <option value="football">Football</option>
  <option value="baseball">Baseball</option>


</select>
  Within: <input [(ngModel)]="distance" id="distanceInput" type="number" /> miles
  <button (click)="filterTeams()">Go</button>
  <button (click)="resetFilter()">Reset</button>


  <div *ngIf="teamService.getTeams().length == 0">
    <span>No results</span>
  </div>

  <div *ngIf="teamService.getTeams().length > 0">
    <table>
      <tr id="row">Available Teams</tr>
      <tr>
        <th>Logo</th>
        <th>Team Name</th>
        <th>Sport</th>
        <th>Owner</th>
        <th># Members</th>
        <th>Record</th>
        <th>Play</th>
      </tr>
      <tr *ngFor="let team of teamService.getTeams()">
        <td><img src="{{team.imgUrl}}" ></td>
        <td>{{team.name}}</td>
        <td>{{team.sport}}</td>
        <td>{{team.owner.displayName}}</td>
        <td>{{team.members.length}}</td>
        <td>{{team.wins}}W - {{team.losses}}L</td>
        <td>
          <button *ngIf="teamService.userInTeam(team.id) == false" (click)="matchmaking(team.id)">Play</button>
          <div *ngIf="teamService.userInTeam(team.id) == true">

          </div>
        </td>
      </tr>
    </table>
    <br><br><br>
  </div>
  <div>
    <table>
    <tr >Current Matches</tr>
    <tr>
      <th>Logo</th>
      <th>Match</th>
      <th>Sport</th>
      <th>Record</th>
      <th>Record Score</th>
    </tr>
    <tr *ngFor="let team of teamService.getTeams()">
      <td><img src="{{team.imgUrl}}" ></td>
      <td>{{team.name}} vs {{team.name}}</td>
      <td>{{team.sport}}</td>
      <td>{{team.wins}}W - {{team.losses}}L</td>
      <td>
        {{team.name}} Score: <input [(ngModel)]="recordScore" type="int" style="width:25px" />
        -
        {{team.name}} Score: <input [(ngModel)]="recordScore" type="int" style="width:25px" />
        <button *ngIf="teamService.userInTeam(team.id) == false" (click)="recordResults(team.id)">Submit</button>
        <div *ngIf="teamService.userInTeam(team.id) == true">

        </div>
      </td>
    </tr>
    </table>
  </div>

</div>
