

<div id ="container">
	<h1>Matchmaking</h1>

	<div>
		<h2>Choose you team</h2>
		<div *ngIf="usersTeams.length == 0">
			<Span>You are not registered to any teams. Please join a team before matchmaking.</Span>
		</div>
		<div *ngIf="usersTeams.length > 0">
			<select (change)="userTeamChanged($event.target.value)" *ngFor="let userTeam of usersTeams" [(ngModel)]="selectedUserTeam">
				<option value={{userTeam.id}}>{{userTeam.name}}</option>
			</select>
		</div>
		<br />


		<div *ngIf="opponents.length == 0 && selectedUserTeam != null">
			<span>Sorry, we couldn't find any suitable opponents for your team</span>
		</div>

		<div *ngIf="opponents.length > 0">
		<h2>Choose your Opponent</h2>
		<br />
		<span>We found these teams as fair opponents for your team</span>
			<table>
			<tr>
				<th>Logo</th>
				<th>Team Name</th>
				<th>Sport</th>
				<th>Owner</th>
				<th># Members</th>
				<th>Record</th>
				<th>Challenge</th>
			</tr>
			<tr *ngFor="let team of opponents" id="{{team.id}}">
				<td><img src="{{team.imgUrl}}" ></td>
				<td>{{team.name}}</td>
				<td>{{team.sport}}</td>
				<td>{{team.owner.displayName}}</td>
				<td>{{team.members.length}}</td>
				<td>{{team.wins}}W - {{team.losses}}L</td>
				<td>
					<button class="select-btn" (click)="setOpponent(team.id)">Select</button>
				</td>
			</tr>
		</table>
		</div>



		<div *ngIf="selectedOpponent != null">
		<h3>Choose a Location</h3>
		<span>Choose a location to host the game by searching for location by name in the search bar or dragging the marker to your location</span>
			<div *ngIf="selectedOpponent != null" id="locMap">
				<app-map [showSearchMarker]="true" [showLocations]="false" (onLocation)="onLocationPicked($event)"></app-map>

			</div>
		</div>

		<div id="locationDiv" *ngIf="location != null && selectedOpponent != null">

			Name: <input type="text" [(ngModel)]="location.name" />
			<br />
			<br />
			Address: <input readonly type="text" [(ngModel)]="location.address" />
			<br />
			<br />
			<span>Choose date to host game</span>
			<br />
			<br />
			<input [(ngModel)]="date" type="datetime-local" />

			<br />
			<br />
			<div *ngIf="location.name != '' && location.address != ''">
				<button (click)="submit()">Finish</button>
			</div>
			<label [(ngModel)]="error">{{error}}</label>
		</div>
	</div>


	<br />

</div>
