<div fxLayout="column" fxFlex>
  <div fxFlex="0 1 auto">
    <app-app-bar></app-app-bar>
  </div>
  <div fxFlex="1 1 auto" fxLayout="row">
    <router-outlet style="height: 0px"></router-outlet>
  </div>
  <div fxFlex="1 1 25%">
    <app-chat></app-chat>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Sport Challenge</h1>
    <img src="../../../images/football.png" alt="Mountain View">
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Login
    </div>

    <div>
      <form action="">
        Username: <input type="text" name="user" placeholder="username"><br>
        Password: <input type="password" name="password" placeholder="password">
      </form>
      <button>Login</button>
      <button>Register</button>
    </div>
  </div>

</div>

