<div fxFlex fxLayout="column" class="card-3 grey-light-bg" [style.margin]="'8px'" [style.padding]="'8px'">

  <div fxFlex="0 1 auto" fxLayoutAlign="center" class="grey-dark-bg primary-light-fg"><h1>Registration</h1></div>
  <div
    fxLayout="column"
    fxFlex>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input required matInput [formControl]="email">
      <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input required matInput [formControl]="password" type="password">
      <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input required matInput [formControl]="username" >
      <mat-error *ngIf="username.invalid">{{getUsernameError()}}</mat-error>
    </mat-form-field>
    <button (click)="submit()" mat-button *ngIf="formIsValid()">Submit</button>
    <div *ngIf="submissionError!=null">{{submissionError}}</div>
  </div>
</div>
<!--
<div id="container">
	<h1> Register </h1>

	<div id="fieldContainer">
		<label>Email:</label> <input  id="email" [(ngModel)]="email" type="text" />
		<br/>
		<span id="emailErr" class="error">error</span>
		<br/>
		<br/>
		<label>Username:</label> <input [(ngModel)]="username" id="username" type="text" />
		<br/>
		<span id="usernameErr" class="error">error</span>
		<br/>
		<br/>
		<label>Password:</label> <input [(ngModel)]="password" id="password" type="text" />
		<br/>
		<span id="passwordErr" class="error">error</span>
		<br><br>
		<span  id="registerErr" class="error">{{errorMessage}}</span>
		<br />
		<button (click)="submit()">Submit</button>

		<br/><br/>

	</div>

</div>
-->

