#container {
	width: 100%;
	height:75%;
	background-color: #f4f5f7;
	position: absolute;
	left: 0px;
	top: 70px;
}

#distanceInput {
	width: 35px;
}

table, th, td {
	border: 1px solid black;
}