<div id ="container">
	Search: <input [(ngModel)]="searchText" type="text" />
	Sport: <select [(ngModel)]="sportText" id="activity" >
				<option value="all">All</option>
			  	<option value="basketball">Basketball</option>
			  	<option value="soccer">Soccer</option>
			  	<option value="football">Football</option>
			  	<option value="baseball">Baseball</option>
			  	
	
			  </select>
	Within: <input [(ngModel)]="distance" id="distanceInput" type="number" /> miles
	<button (click)="filterTeams()">Go</button>
	<button (click)="resetFilter()">Reset</button>
	
	<div *ngIf="teamService.getTeams().length == 0">
		<span>No results</span>
	</div>
	
	<div *ngIf="teamService.getTeams().length > 0">
		<table>
			<tr>
				<th>Logo</th>
				<th>Team Name</th>
				<th>Sport</th>
				<th>Owner</th>
				<th># Members</th>
				<th>Record</th>
				<th>Join</th>
			</tr>
			<tr *ngFor="let team of teamService.getTeams()">
				<td><img src="{{team.imgUrl}}" ></td>
				<td>{{team.name}}</td>
				<td>{{team.sport}}</td>
				<td>{{team.owner.displayName}}</td>
				<td>{{team.members.length}}</td>
				<td>{{team.wins}}W - {{team.losses}}L</td>
				<td>
				<button *ngIf="teamService.userInTeam(team.id) == false" (click)="addUserToTeam(team.id)">Join</button>
				<div *ngIf="teamService.userInTeam(team.id) == true">
					
				</div>
				</td>
			</tr>
		</table>
	</div>
</div>